<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <script src="https://code.jquery.com/jquery-1.12.4.js"
          integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
          crossorigin="anonymous"></script>
</head>
<body>
  <button id="click">Get Data</button>
  <br><br>
  <div id="response"></div>

  <script>
    $(document).ready(function() {
        $("#click").click(function() {
            var data = JSON.stringify({query: `
query HeroNameQuery {
  hero {
    id
    name
    friends { name }
  }
}`});

            console.log(data);

            $.ajax({
                url: "/graphql",
                type: "POST",
                data: data,
                contentType : 'application/json',
                dataType:"json",
                success: function(data) {
                    console.log(data);
                    $("#response").text(data.data.hero.name);
                },
                error: function(err) {
                    console.log(err.responseText);
                }
            });
        });
    });
  </script>
</body>
</html>
